body, html {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background: transparent;
    -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6
{
    padding: 0;
    margin: 0;
}
p {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.05rem;
    line-height: 1.5rem;
}





/* Container */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}




/* background image */

.background-header {
    position: fixed;
    background-image: url("../img/IMG_20200830_193413.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -3;
    box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.2);
}
.background-about {
    background: url("../img/IMG_20201224_120834.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 4rem;
    box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.2);
}
.background-project {
    background: url("../img/IMG_20210602_075943.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 4rem;
    box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.2);
}
.background-contact {
    background: url("../img/IMG_20200830_193413.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 4rem;
    box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.2);
}





/* Navigation */

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
.navbar > .container {
    display: flex;
}
.navbar {
    --bg-color: #000000;
    --bg-color-gradient1: #00000000;
    --bg-color-gradient2: #000000d0;
    display: flex;
    background: var(--bg-color);
    background: linear-gradient(0deg, var(--bg-color-gradient1) 0%, var(--bg-color-gradient2) 100%);
    padding: 0.5rem 1rem;

    transition: 0.2s;
}
.navbar-left {
    flex: 1;
    display: flex;
    justify-content: left;
    align-content: center;
}
.navbar-right {
    display: flex;
}
.nav {
    display: flex;
    align-self: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.nav-item {
    list-style: none;
    float: right;
    font-size: 1.5rem;
    padding: 0.5rem;
}
.nav-icon {
    list-style: none;
    float: right;
    font-size: 1rem;
    padding: 0.5rem;
}
.nav-brand {
    align-self: center;
    color: white;
    padding: 0;
    margin: 0;
    /* font-size is set using javascript */
    margin-right: 1rem;
    transition: 0.2s;
}
.nav-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    opacity: 75%;
}
.nav-link:is(:active :focus) {
    color: white;
}
.nav-link:hover {
    cursor: pointer;
    opacity: 100%;
}





/* header*/

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0.5rem 1rem;
}
.header-title {
    color: white;
}
@media (max-width: 930px) {
    .header-title {
        font-size: 4rem;
    }
}
@media (min-width: 930px) {
    .header-title {
        font-size: 6rem;
    }
}

.header-subtitle {
    color: #f0f0f0;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0.2rem;
}
@media (max-width: 9300px) {
    .header-subtitle {
        font-size: 1.2rem;
    }
}
@media (min-width: 930px) {
    .header-subtitle {
        font-size: 1.5rem;
    }
}

.header-link-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}
.header-link-icon {
    font-size: 2rem;
    margin-right: 0.8rem;
}





/* Section */

.section {
    box-sizing: border-box;
    padding: 2rem 1rem;
    width: 100%;
}
.section-title {
    font-size: 2rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}
.scroll-anchor {
    position: relative;
    top: -5rem;
}









/* About */

.about {
    --bg-color: #eee;
    background-color: var(--bg-color);
}
.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 992px) {
    .about-container {
        flex-direction: column;
    }
}
@media (min-width: 992px) {
    .about-container {
        flex-direction: row;
    }
}

.about-left {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 45%;
}
@media (max-width: 992px) {
    .about-left {
        width: 90%;
    }
}
@media (min-width: 992px) {
    .about-left {
        width: 45%;
    }
}

.about-picture {
    display: block;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    background-image: url("../img/picture2.jpg");
    border: solid #aaa 1px;
    background-size: cover;
    background-position: center;
    background-color: #000000;
}
@media (max-width: 992px) {
    .about-picture {
        width: 12rem;
        height: 12rem;
    }
}
@media (min-width: 992px) {
    .about-picture {
        width: 16rem;
        height: 16rem;
    }
}

.about-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
@media (max-width: 992px) {
    .about-right {
        align-items: center;
        width: 90%;
    }
}
@media (min-width: 992px) {
    .about-right {
        align-items: end;
        width: 45%;
    }
}

.about-title {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.about-span {
    display: inline-block;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.1rem;
}





/* Draw Mouse Icon using Css */

.mouse-icon
{
    position: absolute;
    top: 18px;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}
.mouse-icon::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    box-sizing: border-box;
}
.arrow-down-icon {
    position: absolute;
    bottom: -18px;
    left: 50%;
    width: 18px;
    height: 18px;
    content: '';
    margin-left: -9px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}
img {
    width: 100%;
}
.footer {

    background-color: black;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
}
.footer span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}





/* Slideshow */

.slideshow-container {
    width: 75%;
    height: 200%;
    margin: 1rem auto;
    border: 2px solid #fff;
    overflow: hidden;
}
.slideshow-navigation {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: gray;
}
.bar {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    background-color: #c5c5c5;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover {
    background-color: #fff;
}
input[name="r"]
{
    position: absolute;
    visibility: hidden;
}
.slideshow-slides {
    width: 300%;            /* 100% * image number */
    height: 100%;
    display: flex;
}
.slideshow-slide {
    width: 33.33%;             /* 100% / image number */
    transition: 0.6s;
}
.slideshow-slide img {
    height: 100%;
    width: 100%;
}
#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -33.33%;      /* -100% * 1 / image number */
}
#r3:checked ~ .s1 {
    margin-left: -66.67%;      /* -100% * 2 / image number */
}
.img-link {
    text-decoration: none !important;
    color: white !important;
    opacity: 100%;
}
.img-link:active {
    color: white;
}
.img-link:visited {
    color: white;
}
.img-link:hover {
    opacity: 100%;
}





/* Hyperlinks */

.hyperlink-text {
    text-decoration: none;
    color: rgb(121, 121, 121);
}
.hyperlink-text:is(:active :focus) {
    color: rgb(180, 180, 180);
}
.hyperlink-text:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.hyperlink-icon {
    text-decoration: none;
    color: white;
    opacity: 75%;
}
.hyperlink-icon:is(:active :focus) {
    color: white;
}
.hyperlink-icon:hover {
    cursor: pointer;
    opacity: 100%;
}





/* Contact */

.contact {
    --bg-color: #eee;
    background-color: var(--bg-color);
}





/* Project */

.project {
    --bg-color: #eee;
    background-color: var(--bg-color);
}





/* Cards */

.card-container {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
}
@media (min-width: 576px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 992px) {
    .card-container {
        grid-template-columns: 1fr 1fr;
    }
}

.card {
    display: flex;
    flex-direction: column;
    --bg-card-color: #fff;
    background-color: var(--bg-card-color);
    border-radius: 1rem;
    transition: all .1s ease-in-out;
}
.card:hover {
    transform: scale(1.025);
}
.card-header {
    display: flex;
    border-radius: 1rem 1rem 0rem 0rem;
    height: 8rem;
    background-image: url("/img/azur.png");
    background-position: right 50% bottom 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 10rem;
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: inset 0 0 0 3000px #00000034;
}
.card-header:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 3000px #000000aa;
}
.card-title {
    font-size: 3rem;
    color: white;
    align-self: flex-end;
    margin: 0.5rem;
}
.card-main {
    align-items: start;
    margin: 0rem 0.5rem;
}
.card-footer {
    display: flex;
    opacity: 0.8;
    justify-content: space-between;
    align-items: end;
    height: 2.5rem;
    border-top: 2px solid black;
    padding-top: 0.5rem;
    margin: 0.5rem;
}
.card-tech {
    font-size: 1.2rem;
}
.card-link-container {
    display: flex;
    flex-direction: column;
}





/* Project Modal */

.project-modal {
    /* todo MAKE MODAL */
    display: block;
    position: fixed;
    z-index: 3;
}





/* Forms */

.form {
    display: flex;
    flex-direction: column;
}
.form-align-right {
    align-self: flex-end;
}
.form-text {
    margin-bottom: 1rem;
    padding: 0.5rem;
}
.form-textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    min-height: 6rem;
    resize: vertical;
}
.form-btn {
    margin-bottom: 1rem;
}





/* buttons */

.btn-submit {
    padding: 0.5rem;
    background-color: #20b006;
    color: #fff;
    border-radius: 2px;
    width: 100px;
    border: none;
}
.btn-submit:hover {
    background-color: #504af8;
    cursor: pointer;
}





/* Webkit - Scrollbar */

::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    background: black;
}
::-webkit-scrollbar-thumb
{
    background-color: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
